<div class="row">
    <div class="col-sm-6"><img src='assets/image/pro.jpeg'></div>
    <div class="col-sm-5"><p>Hi, this place is supposed to be where you describe your photo :)</p></div>
</div>
<div class="row">
    <div class="col-sm-6"><p>Hi, this place is supposed to be where you describe your photo :)</p></div>
    <div class="col-sm-5"><img src='assets/image/pro.jpeg'></div>
</div>
<div class="row">
    <div class="col-sm-6"><img src='assets/image/lights.jpeg'></div>
    <div class="col-sm-5"><p>Hi, this place is supposed to be where you describe your photo :)</p></div>
</div>
<div class="row">
    <div class="col-sm-6"><p>Hi, this place is supposed to be where you describe your photo :)</p></div>
    <div class="col-sm-5"><img src='assets/image/pro.jpeg'></div>
</div>